extends layout
block content
    div(class="container-fluid")
        div(class="row text-left")
            div(class="col")
                h1 BildTerapi Huset!
                p
                img(src="kritor.jpg" alt="Skulle ha varit en bild på kritor här...Men den ville inte visa sig.")
                p
                p Bildterapihuset drivs av ett nätverk av bildterapeuter. Vi har vår verksamhet i en funktionellt inredd lokal på Brogatan 5. Huset ligger inne på gården, i huset bakom Swefo foto. Vår lokal ligger i källarvåningen och det står Bildterapihuset på dörren. Vi erbjuder bildterapi för individer, familjer och grupper, handledning, kurser och workshops. Klicka på länken ”Vi bildterapeuter” så ser du vilka vi är och hur du får kontakt med oss.
                p
                p BILD
                p   
                p Bildterapi är en komplementär terapiform som använder bildskapande och samtal för utforskning och bearbetning av tankar, känslor och minnen. Bildterapi kan hjälpa människor att lösa problem, minska stress, stärka självkänslan och komma till insikt.
                p
                p BILD
                p
                a länk
                p
                p BILD
                p   
                p BILD
                p
                l text
                Footer footer

                