nav(class="navbar navbar-primary navbar-expand-lg bg-light border border-dark text-center navfrilans")
	a(class="btn btn-dark mx-2 py-1" href="") Aktuellt
	a(class="btn btn-dark mx-2 py-1" href="edit.php") Om Oss
	a(class="btn btn-dark mx-2 py-1" href="edit.php") Kontakta
